.features{
    width: 100%;
    background-image: url('/img/bg3.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

.featuresWrapper{
    background-color: #131325;
    padding: 4rem 2rem 2rem 2rem;
    max-width: 1280px;
    margin-inline: auto;
    border-radius: 12px;
}

.featuresText{
    text-align: center;
}

.featuresDescription{
    max-width: 60ch;
    margin-inline: auto;
}

.featuresCards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 5rem;
    margin-top: 6rem;
}

.featuresCard{
    background-color: #25283E;
    padding: 6rem 2rem 2rem 2rem;
    border-radius: 12px;
    flex: 1;
    min-width: 300px;
    position: relative;
}

.featuresCardImg{
    width: 5rem;
    position: absolute;
    top: -3rem;
    left: 2rem;
}

.featuresCardTitle{
    font-size: 1.5rem;
    font-weight: 500;
}

.featuresCardDescription{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}