.bg{
    background-image: url('/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 4rem;
    height: max-content;
}

.hero{
    display: flex;
    padding-inline: 1.25rem;
    padding-top: 6rem;
    overflow: hidden;
    max-width: 1366px;
    margin-inline: auto;
}

.heroLeft, .heroRight{
    flex: 1;
}

.heroUpText{
    color: #2eb1a3;
    text-transform: uppercase;
    font-weight: 600;

}

.heroTitle{
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-top: 0.75rem;
}

.heroDescription{
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 300;
    line-height: calc(1em + 0.5rem);
    margin-block: 1.5rem;
    max-width: 55ch;
}

.particle {
    pointer-events: none;
    position: absolute;
    will-change: transform;
  }

  .heroButton {
    font-size: 1rem;
    background: linear-gradient(to right, #e8546b, #ac3cf6);
    padding: 0.5em 2em;
    border-radius: 6px;
    color: white; /* Adicionando cor do texto para garantir visibilidade */
    border: none; /* Removendo a borda padrão do botão */
    cursor: pointer; /* Mudando o cursor para indicar que é clicável */
    transition: all 0.3s ease; /* Suavizando transições */
  }
  
  .heroButton:hover {
    transform: translateY(-2px); /* Efeito sutil de elevação no hover */
    transition: all 0.3s ease; /* Suavizando transições */
    box-shadow: 0 4px 8px rgba(172, 60, 246, 0.3); /* Sombra suave no hover */
  }

/* hero right */

.heroImg {
    transform: rotate(15deg);
    max-width: 600px;
    animation: balançarSuave 2.5s infinite ease-in-out;
}


@keyframes balançarSuave {
    0%, 100% { transform: rotate(15deg); }
    50% { transform: rotate(23deg); }
}

@media (width < 1024px){
    .hero{
        flex-direction: column;
        gap: 2.5rem;
    }
    .heroTitle{
        max-width: 20ch;
    }
    .heroImg{
        width: 90%;
        max-width: 400px;
        margin-inline: auto;
    }
}

@media (width < 475px){
    .heroTitle{
        font-size: 2.5rem;
    }
}